#root {
  height: 100%;
}

.App {
  height: 100%;
  background: url(./assets/background.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  /* text-align: center; */
  overflow-y: auto;
}

.city {
  padding: 60px 0;
  /* height: 30%; */
  /* line-height: 100%; */
  /* padding-top: 30px; */
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.box-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-btn {
  cursor: pointer;
  user-select: none;
}

.icon-arrow {
  width: 120px;
}

.weather-icon {
  height: 186px;
  width: 256px;
  object-fit: contain;
}

.current-temp {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 56px;
}

.box-sub {
  margin-top: 20px;
}

.temp-detail {
  text-align: center;
}

.temp {
  font-size: 50px;
  opacity: 0.7;
}

.weather-detail {
  font-size: 48px;
  text-transform: capitalize;
}

.spin {
  animation: spining 2s linear infinite;
}

@media only screen and (max-width: 600px) {
  .city {
    font-size: 50px;
  }
  .icon-refresh {
    height: 128px;
  }
  .icon-arrow {
    width: 60px
  }
  .weather-icon {
    height: 93px;
    width: 128px;
  }
  .current-temp {
    height: 35px;
    line-height: 35px;
    font-size: 28px;
  }
  .box-sub {
    margin-top: 10px;
  }
  .temp {
    font-size: 25px;
  }
  .weather-detail {
    font-size: 24px;
  }
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}